services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: futebol_app_api
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=sqlite:///./society.db